$green: #bada55;
$dark-green: shade($green, 25%);
$light-green: tint($green, 25%);
$gray: #6b6659;
$light-gray: tint($gray, 25%);
$tan: #cbcbba;
$red: #b3151a;
$blue: #dae9e5;
$yellow: #f8ca00;
$black: #333;
$white: #f2f2f2;
