$green: #bada55;
$dark-green: #8ba548;
$light-green: #cae587;
$gray: #6b6659;
$light-gray: #908c83;
$tan: #cbcbba;
$red: #b3151a;
$blue: #dae9e5;
$yellow: #f8ca00;
$black: #333;
$white: #f2f2f2;

$base-font-size: 16px;
$base-line-height: 24px;

@function rhythm($scale, $font-size: $base-font-size) {
  @return ($scale * $base-line-height / $font-size) * 1em;
}
